<link rel="stylesheet" type="text/css" href="/admin/css/login.css" />
<script type="text/javascript" src="/admin/js/jquery-3.1.1.js"></script>
<div class="container">
    <header>
        <h1>X-BIKE</h1>
    </header>
    <section>
        <div id="container_demo" >
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="" method="post">
                        <h1>Log in</h1>
                        <p>
                            <label for="username" class="uname" data-icon="u" > Your username </label>
                            <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="mypassword" />
                        </p>
                        <p class="login button">
                            <input type="button" value="Login" onclick="checkPassword();" />
                        </p>
                        <p class="change_link">
                            X-BIKE 团队
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
<script>
    function submit() {
        document.onkeydown = function(e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                checkPassword();
            }
        };
    }

    function checkPassword() {
        var username = $("#username").val();
        var password = $("#password").val();
        if (username == '') {
            alert("用户名不能为空");
            return false;
        }
        if (password == '') {
            alert("密码不能为空");
            return false;
        }
        $.ajax({
            type : "post",
            url : '/login/checkPassword.htm?username=' + username + '&password='
            + password,
            dataType : "text",
            success : function(data) {
                var obj = eval("(" + data + ")");
                var retCode = obj.ret_code;
                var retInfor = obj.ret_info;
                if (retCode == 0) {
                    window.location.href = "/login/super.htm?";
                } else {
                    alert(retInfor);
                }

            },
            error : function() {

            }
        });
    }
</script>