#set( $layout = "/wechat/layout/main.vm")
<script>
    wx.ready(function(){
        wx.getLocation({
            success: function (res) {
                window.location.href = "?action=getFixBike&longitude=" + res.longitude + "&latitude=" + res.latitude;
            },
            fail: function(error) {
                $.alert("获取地理位置失败，请确保开启GPS且允许微信获取您的地理位置！", function () {
                    WeixinJSBridge.call('closeWindow');
                });
            }
        });
    });
</script>